.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #000000;
  cursor: pointer;
  height: 1.6rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.5rem;

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &:hover,
  &.is-active {
    background-color: #b2a9ff69;
    color : #5b63fd98
  }
}